// test
.left {
	border-right: 1px solid #333;
	border-left: 1px solid #333;
}
.right {
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}
.bounds-red {
	border-left: 1px solid #f01616;
	border-right: 1px solid #f01616;
}
.bounds-blue {
	border-left: 1px solid #2236e9;
	border-right: 1px solid #2236e9;
}
.bounds-green {
	border-left: 1px solid #1de52c;
	border-right: 1px solid #1de52c;
}


/* Variables */
	// Pixel values
	$xs-screen-max: 767px;
	$sm-screen-max: 991px;
	$md-screen-max: 1199px;
	$sm-screen-min: 768px;
	$md-screen-min: 992px;
	$lg-screen-min: 1200px;
	$xs-screen-text: 14px;
	
	// Backgrounds
	$warning-colour: #dd5757;
	$warning-light-colour: #E26D6D;
	$happy-colour: #3ACEF2;
	$success-colour: #69D76D;
	$default-colour: #666;
	$safe-colour: #41AB45;
	$purple-colour: #8B3EC8;
	$teal-colour: #22698E;
	$teal-med-light-colour: #2E769B;
	$teal-light-colour: #3185b1;
	$green-colour: #3E883C;
	$green-med-light-colour: #489846;
	$green-light-colour: #57A055;
	
	// Text
	$light-colour: #fff;
	$med-light-colour: #999;
	$med-colour: #666;
	$dark-colour: #333;

/* Other Settings */
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

/* Disable navbar collapse */
.navbar-collapse.collapse {
	display: block!important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	float: right!important;
}

/* Elements */
body {
	background-color: $default-colour;
	width: 100%;
}

footer {
	padding: 30px 0;
	color: #f3f3f3;
	
	p {
		margin: 0;
	}
	
	#social {
		border-left: 1px solid #333;
		font-size: 13px;
	}
}

h1 {
	margin-top: 12px;
}

main {
	padding-bottom: 20px;
}

span {
	&.pre {
	  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	}
}

/* Classes */

.jg-pad-hori {
	padding-left: 30px;
	padding-right: 30px;
}

.jg-pad-vert {
	padding-top: 30px;
	padding-bottom: 30px;
}

.jg-detail-panel-inner {
	padding: 20px;
}

.jg-project-pre {
	color: $light-colour;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid $default-colour;
	
	h1 {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	h2 {
		margin-top: 5px;
		margin-bottom: 0;
		font-size: 18px;
	}
	
	&.major {
		background-color: $teal-med-light-colour;
		h1 {
			color: $happy-colour;
		}
	}
	&.minor {
		background-color: $green-colour;
		h1 {
			color:  $success-colour;
		}	
	}
}

.jg-project {
	background-color: $warning-light-colour;
	color: $light-colour;
	padding-top: 20px;
	padding-bottom: 30px;
	
	&.jg-even {
		
		&.major {
			background-color: $teal-med-light-colour;
		}
		&.minor {
			background-color: $green-colour;	
		}
	}
	
	&.jg-odd {
		
		&.major {
			background-color: $teal-light-colour;
		}
		&.minor {
			background-color: $green-light-colour;	
		}
	}
	
	h1 {
		margin-bottom: 0;
		
		@media screen and (max-width: $xs-screen-max) {
			text-align: center;
		}
	}
	
	h2 {
		font-size: 18px;
	}
	
	img {
		max-width: 100%;
		margin-bottom: 13px;
	}
	
	#jg-size, #jg-lang {
		margin-top: 0;
		margin-bottom: 9px;
	}
	
	#jg-lang {
		font-style: italic;
	}
	
	#jg-project-info {
		.row {
			margin-top: 10px;
		}
	}
	
	#jg-project-link {
		margin-bottom: 15px;
		margin-top: 15px;
		
		@media screen and (max-width: $xs-screen-max) {
			text-align: center;
		}
		
		.btn {
			color: #FFF;
			background-color: #3D3D3D;
			border-color: none;
			
			&:hover {
				background-color: #5f5f5f;
			}
			
			@media screen and (max-width: $xs-screen-max) {
				width: 70%;
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 15px;
			}
		}
	}
}

.active {
	background-color: #707070;
}

/* Identifiers */
#jg-main-body {
	padding-top: 50px;
}

#jg-main-banner, #jg-work-banner, #jg-history-banner {
	color: $light-colour;
	
	h1 {
		font-size: 48px;
	}
	
	h3 {
		font-size: 24px;
		margin-top: 0;
	}
	
	#jg-btn {
		margin-top: 15px;
		color: #fff;
		background-color: #337ab7;
		
		&:hover {
			background-color: #135893;
		}
		
		&:active {
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
		}
		
		@media screen and (max-width: $xs-screen-max) {
			font-size: $xs-screen-text;
		}
	}
}

#jg-main-banner {
	padding: 80px 0;
	background-color: $happy-colour;
}

#jg-work-banner {
	background-color: $warning-colour;
	padding: 30px 0;
}

#jg-history-banner {
	background-color: $safe-colour;
	padding: 30px 0;
}

#jg-home-panels {
	/* IDs */
	#jg-work-panel {
		
		@media screen and (max-width: $xs-screen-max) {
			background-color: $warning-colour;
		}
		
		&:hover {
			background-color: $warning-colour;
		}
	}
	
	#jg-history-panel {
		
		@media screen and (max-width: $xs-screen-max) {
			background-color: $safe-colour;
		}
		
		&:hover {
			background-color: $safe-colour;
		}
	}
	
	#jg-about-panel {
		
		@media screen and (max-width: $xs-screen-max) {
			background-color: $purple-colour;
		}
		
		&:hover {
			background-color: $purple-colour;
		}
	}
	
	/* Classes */
	.jg-detail-panel {
		background: $teal-colour;
		
		@media screen and (min-width: $sm-screen-min) {
			min-height: 180px;
			padding-top: 12px;
		}
		
		a {
			text-decoration: none;
			color: #fff;
			
			&:hover {
			}
		}
	}
	
	.glyphicon {
		font-size: 20px;
	}
}

#jg-main-nav {
	background-color: $default-colour;
	border: none;
	
	@media screen and (max-width: $xs-screen-max) {
		min-height: 0px;
	}
	
	/* IDs */
	/* Classes */
	.navbar-nav {
		@media screen and (max-width: $xs-screen-max) {
			margin-top: 0;
			margin-bottom: 0;
		}	
		
		li {
			@media screen and (max-width: $xs-screen-max) {
				height: 50px;
			}
			
			a {
				@media screen and (max-width: $xs-screen-max) {
					padding-top: 14px;
					height: 100%;
				}
			}
		}	
	}
	
	.navbar-header {
		@media screen and (max-width: $xs-screen-max) {
			display: none;
		}		
	}
	
	/* Elements */
	a {
		text-shadow: none;
		color: $light-colour;
		
		&.navbar-brand {
			&:hover {
				color: $med-light-colour;
			}
		}
	}
	
	ul a {
		
		&:hover, &:focus {
			background: #7B7B7B;
		}
	}
}

#jg-404 {
	background-color: $warning-colour;
	h1 {
		color: #fff;
		font-size: 110px;
	}
	h2 {
		color: #fff;
	}
}

#jg-education {
	background-color: $warning-colour;
	color: $light-colour;
	border-top: 2px solid $default-colour;
	padding-bottom: 30px;
	/* Column height fix */
	overflow: hidden;
	
	h1 {
		margin-bottom: 0;
		font-size: 32px;
	}
	
	h2 {
		margin-top: 5px;
		margin-bottom: 0;
		font-size: 20px;
		font-style: italic;
		
		.glyphicon {
			font-size: 18px;
		}
	}
	
	h3 {
		margin-top: 20px;
		font-size: 16px;
	}
	
	.jg-left, .jg-right {
		padding-top: 30px;
		/* Column height fix */
		margin-bottom: -100%;
		padding-bottom: 100%;
	}
	
	@media screen and (min-width: $sm-screen-min) {
		.jg-left {
			border-right: 1px solid $default-colour;
		}
		
		.jg-right {
			border-left: 1px solid $default-colour;			
		}
	}
	
	@media screen and (max-width: $xs-screen-max) {
		.jg-right {
			background-color: $warning-light-colour;
		}
	}
}

/* Media specific */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}