// test
.left {
//border-right: 1px solid #333;
//border-left: 1px solid #333;
}
.right {
//border-left: 1px solid #333;
//border-right: 1px solid #333;
}
.bounds-red {
//border-left: 1px solid #f01616;
//border-right: 1px solid #f01616;
}
.bounds-blue {
//border-left: 1px solid #2236e9;
//border-right: 1px solid #2236e9;
}
.bounds-green {
//border-left: 1px solid #1de52c;
//border-right: 1px solid #1de52c;
}

/*
	Styles SCSS
	By Jonathan Gilmour
	
	Sections
	- Variables: Useful SCSS variables to change whole site styling
	- Mixins
	- Other: Miscellaneous styling (eg viewport scaling)
	- Element styling
	- Class styling
	- ID styling
	
	To do
	- Remove media section at bottom
	- Consolidate classes/ids
	- Nest as much as possible
	- DRY
*/

/* Variables */
	// Pixel values
	$xxs-screen-max: 350px;
	$xs-screen-max: 767px;
	$sm-screen-max: 991px;
	$md-screen-max: 1199px;
	$sm-screen-min: 768px;
	$md-screen-min: 992px;
	$lg-screen-min: 1200px;
	$xs-screen-text: 14px;
	
	// Colours
	$red-colour: #dd5757;
	$red-light-colour: #E26D6D;
	$red-dark-colour: #ab0505;
	$happy-colour: #3ACEF2;
	$success-colour: #69D76D;
	$warning-colour: #FCE46A;
	$default-colour: #666;
	$safe-colour: #41AB45;
	$purple-colour: #663D67;
	$purple-light-colour: #784D79;
	$teal-colour: #22698E;
	$teal-med-light-colour: #2E769B;
	$teal-light-colour: #3185b1;
	$green-colour: #3E883C;
	$green-med-light-colour: #489846;
	$green-light-colour: #57A055;
	
	// Greys
	$light-colour: #fff;
	$med-light-colour: #999;
	$med-colour: #666;
	$dark-colour: #333;
	
/* Mixins */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
         //border-radius: $radius;
}

@mixin blinker($time) {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: $time;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: blinker;
    -moz-animation-duration: $time;
    -moz-animation-timing-function: linear;

    animation-name: blinker;
    animation-duration: $time;
    animation-timing-function: linear;
}

@mixin gradient-bg($start, $end) {
	background: $end;
	background: -moz-linear-gradient(top, $start 0%,$end 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$end));
	background: -webkit-linear-gradient(top, $start 0%, $end 100%);
	background: -o-linear-gradient(top, $start 0%, $end 100%);
	background: -ms-linear-gradient(top, $start 0%, $end 100%);
	background: linear-gradient(to bottom, $start 0%, $end 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 );
}	

@mixin opacity($amt) {
	opacity: $amt;
    filter: alpha(opacity=$amt * 100);
}

@mixin placeholder($colour) {
	&::-webkit-input-placeholder {
	   color: $colour;
	}
	
	&:-moz-placeholder {
		color: $colour;  
	}
	
	&::-moz-placeholder {
	   color: $colour;  
	}
	
	&:-ms-input-placeholder {  
	   color: $colour;  
	}
}

@mixin height-transition($duration) {
	-webkit-transition: height $duration ease;
	-moz-transition: height $duration ease;
	-ms-transition: height $duration ease;
	-o-transition: height $duration ease;
	transition: height $duration ease;
}

	// THEMES //
	
$text-white: #FFF; 	

// Midnight	
#midnight {
	$bg-dark: #111013;
	$text-dark: #66708C;
	
	$bg-med: #121828;
	$text-med: #9099B2;
	
	$bg-med-light: #172037;
	$text-med-light: #677DB5;
	
	$text-light: #AEBDCA;
	$bg-light: #D5DBDF;
	
	$success: #183D15;
	$warning: #A19542;
	$error: #882F2F;
	
	background-color: $bg-dark;
	
	a {
		&:hover {
			color: $text-light;
		}
	}
	
	img {
		@include opacity(0.7);
	}
	
	input, textarea {
		background-color: $bg-dark;
		color: $text-light;
		border: none;
		
		&[type="submit"] {
			background-color: $success;
		}
		
		@include placeholder($text-med);
	}
	
	.dark {
		background-color: $bg-dark;
		color: $text-dark;
				
		a {
			color: $text-dark;
			
			&:hover {
				background-color: $bg-dark;
				color: $text-light;
			}
		}
		
		.active, .active a:hover {
			background-color: $bg-light;
			color: $text-dark;
		}
	}
	
	.med {
		background-color: $bg-med;
		color: $text-med;
		
		a {
			color: $text-med;
			
			&:hover {
				color: $text-light;
			}
			
			&.btn {
				background-color: $text-med;
				color: $bg-med;
				
				&:hover {
					background-color: $text-light;
					color: $bg-med;
				}
			}
		}
	}
	
	.med-light {
		background-color: $bg-med-light;
		color: $text-med-light;
		
		a {
			color: $text-med-light;
			
			&:hover {
				color: $text-light;
			}
			
			&.btn {
				background-color: $text-med-light;
				color: $bg-med-light;
				
				&:hover {
					background-color: $text-light;
					color: $bg-med-light;
				}
			}
		}
		
		.hover:hover, &.hover:hover {
			a {
				color: $text-light;
			}
		}
	}
	
	.light {
		background-color: $bg-light;
		color: $text-light;
		
		a {
			color: $text-light;
		}
	}
	
	.section-heading {
		//border-top: 2px solid $bg-dark;
	}
	
	.jg-warning, #jg-submit-msg {
		color: $warning;
	}
	
	.jg-error {
		color: $error;
	}
	
	.jg-success {
		color: $success;
	}
	
	// Error pages
	#jg-404 {
		color: $error;
	}
	
	#jg-500 {
		color: $warning;
	}
	
	#drop {
		background-color: $bg-dark;
		color: $text-light;
		
		&:hover {
			background-color: $bg-light;
		}
	}
	
	@media screen and (max-width: $xs-screen-max) {
		#jg-history-panel {
			background-color: $bg-med;
		}
	}
}

// Bubblegum	
#bubblegum {
	$bg-dark: #51C7B7;
	$text-dark: #FFF;
	
	$bg-med: #EE369B;
	$text-med: #FFF;
	
	$bg-med-light: #FF6BAD;
	$text-med-light: #FFF;
	
	$text-light: #EEE;
	$bg-light: #F2D5D3;
	
	$success: #0C9E00;
	$warning: #F2FF7B;
	$error: #CD0000;
	
	background-color: $bg-dark;
	
	a {
		&:hover {
			color: $text-light;
		}
	}
	
	input, textarea {
		background-color: $bg-dark;
		color: $text-light;
		border: none;
		
		&[type="submit"] {
			background-color: $success;
		}
		
		@include placeholder($text-med);
	}
	
	.dark {
		background-color: $bg-dark;
		color: $text-dark;
				
		a {
			color: $text-dark;
			
			&:hover {
				background-color: $bg-dark;
				color: $text-light;
			}
		}
		
		.active, .active a:hover {
			background-color: $bg-light;
			color: $text-dark;
		}
	}
	
	.med {
		background-color: $bg-med;
		color: $text-med;
		
		a {
			color: $text-med;
			
			&:hover {
				color: $text-light;
			}
			
			&.btn {
				background-color: $text-med;
				color: $bg-med;
				
				&:hover {
					background-color: $text-light;
					color: $bg-med;
				}
			}
		}
	}
	
	.med-light {
		background-color: $bg-med-light;
		color: $text-med-light;
		
		a {
			color: $text-med-light;
			
			&:hover {
				color: $text-light;
			}
			
			&.btn {
				background-color: $text-med-light;
				color: $bg-med-light;
				
				&:hover {
					background-color: $text-light;
					color: $bg-med-light;
				}
			}
		}
		
		.hover:hover, &.hover:hover {
			a {
				color: $text-light;
			}
		}
	}
	
	.light {
		background-color: $bg-light;
		color: $text-light;
		
		a {
			color: $text-light;
		}
	}
	
	.section-heading {
		//border-top: 2px solid $bg-dark;
	}
	
	.jg-warning, #jg-submit-msg {
		color: $warning;
	}
	
	.jg-error {
		color: $error;
	}
	
	.jg-success {
		color: $success;
	}
	
	// Error pages
	#jg-404 {
		color: $error;
	}
	
	#jg-500 {
		color: $warning;
	}
	
	#drop {
		background-color: $bg-dark;
		color: $text-light;
		
		&:hover {
			background-color: $bg-light;
		}
	}
	
	@media screen and (max-width: $xs-screen-max) {
		#jg-history-panel {
			background-color: $bg-med;
		}
	}
}

// Red-Green-Blue-Purple (Default)	
#rgbp {
	$bg-dark: #666;
	$text-dark: #fff;
	
	$bg-med: #3ACEF2;
	$text-med: #fff;
	
	$bg-med-light: #22698E;
	$text-med-light: #fff;
	
	$text-light: #999;
	$bg-light: #D5DBDF;
	
	$error: #882F2F;
	$success: #69D76D;
	$warning: #FCE46A;
	
	$red: #dd5757;
	$red-light: #E26D6D;
	$red-dark: #ab0505;
	
	$purple: #663D67;
	$purple-light: #784D79;
	
	$teal: #22698E;
	$teal-med: #2E769B;
	$teal-light: #3185b1;
	
	$green: #3E883C;
	$green-med: #489846;
	$green-light: #41AB45;
	
	$btn-grey: #3D3D3D;
	$btn-light-grey: #5f5f5f;
	
	
	// Standard set
	
	background-color: $bg-dark;
	
	a {
		&:hover {
			color: $text-light;
		}
	}
	
	input, textarea {
		background-color: $bg-dark;
		color: $text-light;
		border: none;
		
		&[type="submit"] {
			background-color: $success;
		}
		
		@include placeholder($text-med);
	}
	
	.dark {
		background-color: $bg-dark;
		color: $text-dark;
				
		a {
			color: $text-dark;
			
			&:hover {
				background-color: #7B7B7B;
			}
		}
		
		.active {
			background-color: #707070;
		}
		
		.navbar-brand {
			&:hover {
				background-color: $bg-dark;
				color: #999;
			}
		}
	}
	
	.med {
		background-color: $bg-med;
		color: $text-med;
		
		a {
			color: $text-med;
			
			&:hover {
				color: $text-light;
			}
			
			&.btn {
				background-color: #337ab7;
				color: $text-med;
				
				&:hover {
					background-color: #135893;
				}
			}
		}
	}
	
	.med-light {
		background-color: $bg-med-light;
		color: $text-med-light;
		
		a {
			color: $text-med-light;
			
			&.btn {
				background-color: $text-med-light;
				color: $bg-med-light;
				
				&:hover {
					background-color: $text-light;
					color: $bg-med-light;
				}
			}
		}
		
		.hover:hover, &.hover:hover {
			a {
				color: $text-light;
			}
		}
	}
	
	.light {
		background-color: $bg-light;
		color: $text-light;
		
		a {
			color: $text-light;
		}
	}
	
	.section-heading {
		//border-top: 2px solid $bg-dark;
	}
	
	.jg-warning, #jg-submit-msg {
		color: $warning;
	}
	
	.jg-error {
		color: $error;
	}
	
	.jg-success {
		color: $success;
	}
	
	
	// Home panels
	
	#jg-work-panel {
		&:hover {
			background-color: $red;
			a {
				color: $text-med-light;
			}
		}
	}
	#jg-history-panel {
		&:hover {
			background-color: $green-light;
			a {
				color: $text-med-light;
			}
		}
	}
	#jg-about-panel {
		&:hover {
			background-color: $purple;
			a {
				color: $text-med-light;
			}
		}
	}
	
	.jg-project {		
		a.btn {
			background-color: $btn-grey;
			color: white;
			
			&:hover {
				background-color: $btn-light-grey;
				color: white;
			}
		}
	}
	
	#jg-education {
		.jg-left {
			border-right: 1px solid $red-light;
		}
		.jg-right {
			border-left: 1px solid $red-light;
		}
	}
	
	
	// Background variations
	
	//Red
	#jg-work-banner, #jg-education  {
		background-color: $red;
	}
	
	.jg-education {
		background-color: $red-light;
	}
	
	//Green
	#jg-history-banner {
		background-color: $green-light;
	}
	
	.jg-project-pre.med, .minor.med {
		background-color: $green;
	}
	
	.minor.med-light {
		background-color: $green-med;
	}
	
	//Teal
	.major.med, .jg-job.med {
		background-color: $teal-light;
	}
	
	//Purple
	.jg-dev, .jg-dev-category.med-light, #jg-me, #jg-contact {
		background-color: $purple-light;
	}
	
	.jg-dev-category.med, #jg-about-banner {
		background-color: $purple;
	}
	
	// Contact form
	input, textarea {
		background-color: white;
		
		@include placeholder(#777);
		
		&[type="submit"] {
			background-color: $green;
			color: white;
			
			&:hover {
				background-color: #57A055;
			}
		}
	}
	
	// Error pages
	
	#jg-404 {
		background-color: $red;
		color: white;
	}
	
	#jg-500 {
		background-color: $teal;
		color: white;
	}
	
	// Media
	
	@media screen and (max-width: $xs-screen-max) {
		#jg-work-panel {
			background-color: $red;
		}
		#jg-history-panel {
			background-color: $green-light;
		}
		#jg-about-panel {
			background-color: $purple;
		}
		#jg-education .jg-left {
			padding-bottom: 30px;
			margin-bottom: 0;
		}
		#jg-education .jg-right {
			background-color: $red-light;
		}
	}
}
	


/* Other Settings */
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

/* Disable navbar collapse */
.navbar-collapse.collapse {
	display: block!important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	float: right!important;
}

/* Elements */
body {
	//background-color: $default-colour;
	width: 100%;
}

footer {
	padding: 30px 0;
//color: #f3f3f3;
	
	p {
		margin: 0;
	}
}

h1 {
	margin-top: 12px;
	word-wrap: break-word;
}

main {
	padding-bottom: 20px;
}

span {
	&.pre {
	  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	}
}

li {
	margin-top: 4px;
}

option, select {
	color: black;
}

/* Classes */

.navbar {
	border: none;
}

.jg-pad-hori {
	padding-left: 30px;
	padding-right: 30px;
}

.jg-pad-vert {
	padding-top: 30px;
	padding-bottom: 30px;
}

.jg-detail-panel-inner {
	padding: 20px;
}

.jg-project-pre {
	padding-top: 20px;
	padding-bottom: 20px;
	
	h1 {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	h2 {
		margin-top: 5px;
		margin-bottom: 0;
		font-size: 18px;
	}
}

.jg-project {
	padding-top: 20px;
	padding-bottom: 30px;
	overflow: hidden;
	
	@media screen and (max-width: $xs-screen-max) {
		height: auto !important;
	}
	
	h1 {
		margin-bottom: 14px;
		
		@media screen and (max-width: $xs-screen-max) {
			text-align: center;
			margin-bottom: 0;
		}
	}
	
	h2 {
		font-size: 18px;
	}
	
	img {
		max-width: 100%;
		margin-bottom: 13px;
		
		@media screen and (min-width: $md-screen-min) {
			max-width: 80%;
		}
	}
	
	#jg-size, #jg-lang {
		margin-top: 0;
		margin-bottom: 9px;
	}
	
	#jg-lang {
		font-style: italic;
	}
	
	#jg-project-info {
		.row {
			margin-top: 10px;
		}
	}
	
	#jg-project-link {
		margin-bottom: 15px;
		margin-top: 15px;
		
		@media screen and (max-width: $xs-screen-max) {
			text-align: center;
		}
		
		.btn {
		//color: #FFF;
			//background-color: #3D3D3D;
		//border-color: none;
			
			&:hover {
				//background-color: #5f5f5f;
			}
			
			@media screen and (max-width: $xs-screen-max) {
				width: 70%;
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 15px;
			}
		}
	}
}

.jg-history-pre {
//color: $light-colour;
	padding-top: 20px;
	padding-bottom: 20px;
//border-top: 2px solid $default-colour;
	
	h1 {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	h2 {
		margin-top: 5px;
		margin-bottom: 0;
		font-size: 18px;
	}
	
	&.jg-education {
		//background-color: $red-light-colour;
		h1 {
		//color: $light-colour;
		}
	}
	&.jg-jobs {
		//background-color: $teal-light-colour;
		h1 {
		//color:  $light-colour;
		}	
	}
	&.jg-dev {
		//background-color: $purple-light-colour;
		h1 {
		//color:  $light-colour;
		}	
	}
	&.jg-others {
		//background-color: $green-light-colour;
		h1 {
		//color:  $light-colour;
		}	
	}
}

.jg-job {
//color: $light-colour;
	padding-top: 30px;
	padding-bottom: 30px;
	
	h2 {
		font-size: 24px;
		margin-top: 0;
		margin-bottom: 20px;
	}
	
	h3 {
		margin-top: 0;
		font-size: 20px;
	}
	
	&.jg-odd {
	//background-color: $teal-colour;
	}
	
	&.jg-even {
	//background-color: $teal-light-colour;
	}
	
	#jg-responsibilities {
		ul {
			padding-left: 1em;
		}
	}
}


.jg-other {
//color: $light-colour;
	padding-top: 30px;
	padding-bottom: 30px;
	
	h2 {
		font-size: 24px;
		margin-top: 0;
		margin-bottom: 20px;
	}
	
	h3 {
		margin-top: 0;
		font-size: 20px;
	}
	
	&.jg-odd {
	//background-color: $green-colour;
	}
	
	&.jg-even {
	//background-color: $green-light-colour;
	}
	
	#jg-responsibilities {
		ul {
			padding-left: 1em;
		}
	}
}

.active {
//background-color: #707070;
}

/* Identifiers */
#jg-main-body {
	padding-top: 50px;
}

#jg-main-banner, #jg-work-banner, #jg-history-banner, #jg-about-banner {
	//color: $light-colour;
	
	h1 {
		font-size: 48px;
	}
	
	h3 {
		font-size: 24px;
		margin-top: 0;
	}
	
	#jg-btn {
		margin-top: 15px;
		//color: #fff;
		//background-color: #337ab7;
		
		&:hover {
			//background-color: #135893;
		}
		
		&:active {
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
		}
		
		@media screen and (max-width: $xs-screen-max) {
			font-size: $xs-screen-text;
		}
	}
}

#jg-main-banner {
	padding: 80px 0;
//background-color: $happy-colour;
}

#jg-work-banner {
//background-color: $red-colour;
	padding: 30px 0;
}

#jg-history-banner {
//background-color: $safe-colour;
	padding: 30px 0;
}

#jg-about-banner {
//background-color: $purple-colour;
	padding: 30px 0;
}

#jg-home-panels {
	/* IDs */
	#jg-work-panel {
		
		@media screen and (max-width: $xs-screen-max) {
			//background-color: $red-colour;
		}
		
		&:hover {
			//background-color: $red-colour;
		}
	}
	
	#jg-history-panel {
		
		@media screen and (max-width: $xs-screen-max) {
			//background-color: $safe-colour;
		}
		
		&:hover {
			//background-color: $safe-colour;
		}
	}
	
	#jg-about-panel {
		
		@media screen and (max-width: $xs-screen-max) {
			//background-color: $purple-colour;
		}
		
		&:hover {
			//background-color: $purple-colour;
		}
	}
	
	/* Classes */
	.jg-detail-panel {
		//background: $teal-colour;
		
		@media screen and (min-width: $sm-screen-min) {
			min-height: 180px;
			padding-top: 12px;
		}
		
		a {
			text-decoration: none;
		//color: #fff;
			
			&:hover {
			}
		}
	}
	
	.glyphicon {
		font-size: 20px;
	}
}

#jg-main-nav {
	//background-color: $default-colour;
//border: none;
	
	@media screen and (max-width: $xs-screen-max) {
		min-height: 0px;
	}
	
	/* IDs */
	/* Classes */
	.container {
		@media screen and (max-width: $xs-screen-max) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.navbar-nav {
		@media screen and (max-width: $xs-screen-max) {
			margin: 0;
			width: 100%;
		}	
		
		li {
			margin-top: 0;
			
			@media screen and (max-width: $xs-screen-max) {
				height: 50px;
				width: 20%;
			}
			
			a {
				@media screen and (min-width: $sm-screen-min) {
					text-align: center;
				}
				
				@media screen and (max-width: $xs-screen-max) {
					padding-top: 14px;
					padding-left: 10px;
					padding-right: 10px;
					height: 100%;
					width: 100%;
					text-align: center;
				}
				
				@media screen and (max-width: $xxs-screen-max) {
					font-size: 12px;
				}
			}
		}	
	}
	
	.navbar-header {
		@media screen and (max-width: $xs-screen-max) {
			display: none;
		}		
	}
	
	/* Elements */
	a {
		text-shadow: none;
	//color: $light-colour;
		
		&.navbar-brand {
			&:hover {
			//color: $med-light-colour;
			}
		}
	}
	
	ul a {
		
		&:hover, &:focus {
		//background-color: #7B7B7B;
		}
	}
}

#jg-404 {
//background-color: $red-colour;
	h1 {
	//color: #fff;
		font-size: 110px;
	}
	h2 {
	//color: #fff;
	}
}

#jg-500 {
//background-color: $teal-colour;
	h1 {
	//color: #fff;
		font-size: 110px;
	}
	h2 {
	//color: #fff;
	}
}

#jg-education {
//background-color: $red-colour;
//color: $light-colour;
	padding-bottom: 30px;
	/* Column height fix */
	overflow: hidden;
	
	h1 {
		margin-bottom: 0;
		font-size: 32px;
	}
	
	h2 {
		margin-top: 5px;
		margin-bottom: 0;
		font-size: 20px;
		font-style: italic;
		
		.glyphicon {
			font-size: 18px;
		}
	}
	
	h3 {
		margin-top: 20px;
		font-size: 16px;
	}
	
	.jg-left, .jg-right {
		padding-top: 30px;
		/* Column height fix */
		margin-bottom: -100%;
		padding-bottom: 100%;
	}
	
	@media screen and (min-width: $sm-screen-min) {
		.jg-left {
		//border-right: 1px solid $red-light-colour;
		}
		
		.jg-right {
		//border-left: 1px solid $red-light-colour;			
		}
	}
	
	@media screen and (max-width: $xs-screen-max) {
		.jg-right {
		//background-color: $red-light-colour;
		}
	}
}

#jg-dev {
	.jg-dev-category {
	//color: $light-colour;
		padding-top: 30px;
		padding-bottom: 30px;
		
		
		
		&.jg-odd {
		//background-color: $purple-colour;
		}
		
		&.jg-even {
		//background-color: $purple-light-colour;
		}
		
		.jg-dev-entry {
			
			#jg-projects, #jg-description {
				margin-top:  10px;
			}
			
			h2 {
				font-size: 28px;
				margin-top: 15px; 
			}
			
			#jg-dev-info {
				
				margin-top: 10px;
				
				#jg-projects {
					
					h3 {
						margin-top: 0;
						font-size: 20px;
					}
				}
			}
			
			#jg-projects-links {
				padding-left: 0;
				
				li {
					list-style: none;
					text-indent: -0.8em;
					padding-left: 1em;
					a {
						padding-left: 5px;
					}
					
					&:before {    
						position: relative;
						top: 1px;
						display: inline-block;
						font-family: 'Glyphicons Halflings';
						font-style: normal;
						font-weight: normal;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						content: "\e080";
					}
				}
				
				a {
				//color: $light-colour;
					
					&:hover {
					//color: $med-light-colour;
						text-decoration: none;
					}
				}
			}
		}
	}
}

#jg-me {
	padding-top: 30px;
	padding-bottom: 30px;
//background-color: $purple-light-colour;
//color: $light-colour;
	
	#jg-info {
		margin-top: 15px;
		
		#jg-interests {
			h2 {
				margin-top: 0;
			}
		}	
	}
	
	#jg-profile {
				
		h2 {
			margin-top: 0;
			margin-bottom: 5px;
			margin-left: 5px;
			font-size: 28px;
		}
		
		@media screen and (max-width: $sm-screen-min) {
			text-align: center;
		}
	}
	
	#jg-profile-image {
		img {
			width: 75%;
		}
	}
}

#jg-contact {
//background-color: $purple-light-colour;
//color: $light-colour;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	
	#jg-info-msg {
		text-align: left;
		
		h1 {
			margin-top: 6px;
			margin-bottom: 13px;
			font-size: 15px;
		}
		
		&.blink-me {
			@include blinker(0.7s);
		}
		
		&.jg-warning {
		//color: $warning-colour;
		}
		
		&.jg-success {
		//color: $success-colour;
		}
		
		&.jg-error {
		//color: $red-colour;
		}
		
		hidden {
			display: none;
		}
		
		#ng {
			list-style: none;
			padding-left: 0;
			font-size: 15px;
			font-weight: 500;
		}
	}
	
	form {
		text-align: left;
		
		textarea, input {
		//color: $dark-colour;
			@include border-radius(5px);
		//border: none;
			padding: 5px;
			
			&:focus {
				outline:0;
			}
		}
		
		textarea {
			width: 100%;
		}
		
		input {
			width: 50%;
			margin-bottom: 10px;
			
			@media screen and (max-width: $xs-screen-max) {
				width: 100%;
			}
			
			&[type="submit"] {
				width: 100px;
				margin-top: 20px;
			//color: $light-colour;
			//background-color: $green-colour;
				
				&:hover {
				//background-color: $green-light-colour;
				}
				
				&:active {
				//background-color: $green-colour;
				}
			}
		}
		
		#jg-form-subject {
			margin-top: 20px;
		}
		
		#jg-form-message {
			
			textarea, label {
				display: block;
			}	
		}
		
		#jg-submit-msg {
		//color: $warning-colour;
			margin-left: 10px;
			
			&.hidden {
				display: none;
			}
		}
	}
}

#drop {
	font-size: 24px;
	background-color: #888;
	color: #CCC;
	height: 31px;
	width: 32px;
	border-radius: 4px;
	line-height: 19px;
	padding: 7px 0 0 5px;
	
	&:hover {
		background-color: #999;
	}
	
	@media screen and (max-width: $xs-screen-max) {
		display: none !important;
	}
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

/* Media specific */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/* Animations */

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}