/* Variables */
	// Pixel values
	$xs-screen-max: 767px;
	$sm-screen-max: 991px;
	$md-screen-max: 1199px;
	$sm-screen-min: 768px;
	$md-screen-min: 992px;
	$lg-screen-min: 1200px;
	$xs-screen-text: 14px;
	
	// Backgrounds
	$warning-colour: #dd5757;
	$happy-colour: #3ACEF2;
	$default-colour: #666;
	$safe-colour: #41AB45;
	$purple-colour: #8B3EC8;
	$teal-colour: #22698E;
	
	// Text
	$light-colour: #fff;

/* Other Settings */
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

/* Elements */
body {
	background-color: $default-colour;
	width: 100%;
}

footer {
	padding: 30px 0;
	color: #f3f3f3;
	
	#social {
		border-left: 1px solid #333;
	}
}

h1 {
	margin-top: 12px;
}

main {
	padding-bottom: 20px;
}

/* Classes */

.jg-pad-hori {
	padding-left: 30px;
	padding-right: 30px;
}

.jg-pad-vert {
	padding-top: 30px;
	padding-bottom: 30px;
}

.jg-detail-panel-inner {
	padding: 20px;
}

.active {
	background-color: #707070;
}

/* Identifiers */
#jg-main-body {
	padding-top: 50px;
}

#jg-main-banner {
	background-color: $happy-colour;
	padding: 30px 0;
	color: $light-colour;
	
	h1 {
		font-size: 48px;
	}
	
	h3 {
		font-size: 24px;
		margin-top: 0;
	}
	
	#jg-btn {
		margin-top: 15px;
		
		@media screen and (max-width: $xs-screen-max) {
			font-size: $xs-screen-text;
		}
	}
}

#jg-home-panels {
	/* IDs */
	#jg-work-panel {
		
		@media screen and (max-width: $xs-screen-max) {
			background-color: $warning-colour;
		}
		
		&:hover {
			background-color: $warning-colour;
		}
	}
	
	#jg-history-panel {
		
		@media screen and (max-width: $xs-screen-max) {
			background-color: $safe-colour;
		}
		
		&:hover {
			background-color: $safe-colour;
		}
	}
	
	#jg-about-panel {
		
		@media screen and (max-width: $xs-screen-max) {
			background-color: $purple-colour;
		}
		
		&:hover {
			background-color: $purple-colour;
		}
	}
	
	/* Classes */
	.jg-detail-panel {
		background: $teal-colour;
		
		@media screen and (min-width: $sm-screen-min) {
			min-height: 180px;
			padding-top: 12px;
		}
		
		a {
			text-decoration: none;
			color: #fff;
			
			&:hover {
			}
		}
	}
	
	.glyphicon {
		font-size: 20px;
	}
}

#jg-main-nav {
	background-color: $default-colour;
	
	/* IDs */
	/* Classes */
	.navbar-nav {
		@media screen and (max-width: $xs-screen-max) {
			display: none;
		}		
	}
	
	a {
		text-shadow: none;
		color: $light-colour;
	}
	
	/* Elements */
	ul a {
		
		&:hover, &:focus {
			background: #7B7B7B;
		}
	}
}

#jg-404 {
	background-color: $warning-colour;
	h1 {
		color: #fff;
		font-size: 110px;
	}
	h2 {
		color: #fff;
	}
}

/* Media specific */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}