<section id="jg-home-panels" class="row ma-pad-hori">
	<div class="col-xs-4 text-center ma-detail-panel">
		<div class="ma-detail-panel-inner">
			<i class="glyphicon glyphicon-duplicate"></i>
			<h1 class="text-center">My Work</h1>
			See my past projects
		</div>
	</div>
	<div class="col-xs-4 text-center ma-detail-panel">
		<div class="ma-detail-panel-inner">
			<i class="glyphicon glyphicon-book"></i>
			<h1 class="text-center">History</h1>
			See my work experience and education
		</div>
	</div>
	<div class="col-xs-4 text-center ma-detail-panel">
		<div class="ma-detail-panel-inner">
			<i class="glyphicon glyphicon-user"></i>
			<h1 class="text-center">About Me</h1>
			Learn more about me and what I do
		</div>
	</div>
</section>