<footer class="container-fluid">
	<div class="container">
		<div class="col-md-1 testbg">
			<ul class="list-unstyled">
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
			</ul>
		</div>
		<div class="col-md-1 col-md-offset-1 testbg">
			<ul class="list-unstyled">
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
			</ul>
		</div>
		<div class="col-md-1 col-md-offset-1 testbg">
			<ul class="list-unstyled">
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
			</ul>
		</div>
		<div class="col-md-5 col-md-offset-2 testbg" id="social">Newsletter/Social</div>
	</div>
</footer>

 <!-- row -->
	<!-- 3x2columns of links -->
	<!-- 1x4columns of social + newsletter -->
	<!-- distribute other columns as padding between -->
 <!-- /row -->
 <!-- row -->
 	<!-- 12 column terms/copyright -->
 <!-- /row -->