<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header testbg"><a href="/" class="navbar-brand">Sample App</a></div>
		<ul	class="nav navbar-nav">
			<li class="active"><a href="/">Home</a></li>
			<li class=""><a href="/about">About</a></li>
			<li>
				<a data-target="#" href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="">Contact Us</a></li>
					<li><a href="">Map</a></li>
					<li><a href="">Careers</a></li>
				</ul>
			</li> 
		</ul>
		{{> search}}
	</div>
</nav>