<h1>This is the about page</h1>
<p>This site uses mocha, supertest, shouldJS, node, angular, sass/scss, express 4, handlebars templating engine, </p>

<div class="container">
  <div class="row">
  	<div class="col-xs-1">single</div>
    <div class="col-xs-3 col-xs-offset-7">
      I'm a right column of 3
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      I'm a left column of 3
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      And I'm some content below both columns
    </div>
  </div>
</div>