<main class="jumbotron">
	<!-- potentially make this a slideshow -->
	<div class="row">
		<h1 class="col-xs-12 text-center">This is the home page</h1>
	</div>
</main>
<section class="row ma-pad-hori">
	<div class="col-xs-4 text-center ma-detail-panel">
		<div class="ma-detail-panel-inner">
			<h1 class="text-center">Panel 1</h1>
			This is the panel description
		</div>
	</div>
	<div class="col-xs-4 text-center ma-detail-panel">
		<div class="ma-detail-panel-inner">
			<h1 class="text-center">Panel 2</h1>
			This is the panel description
		</div>
	</div>
	<div class="col-xs-4 text-center ma-detail-panel">
		<div class="ma-detail-panel-inner">
			<h1 class="text-center">Panel 3</h1>
			This is the panel description
		</div>
	</div>
</section>
<!-- line -->
<!-- 3x4col message blocks -->