/* Elements */
body {
  background-color: #666666; }

footer {
  border-top: 1px solid #CDCDCD;
  padding: 30px 0;
  color: #f3f3f3; }

h1 {
  margin-top: 12px; }

/* Classes */
.ma-max-width {
  max-width: 1000px; }

.ma-pad-hori {
  padding-left: 30px;
  padding-right: 30px; }

.ma-pad-vert {
  padding-top: 30px;
  padding-bottom: 30px; }

.ma-detail-panel {
  min-height: 200px; }

.ma-detail-panel-inner {
  padding: 20px; }

/* Identifiers */
#main-body {
  padding: 80px 0 20px 0;
  min-height: 500px;
  background-color: #ffffff; }

footer #social {
  border-left: 1px solid #333; }

#jg-home-panels .glyphicon {
  font-size: 20px; }

#jg-main-banner h3 {
  margin-top: 0; }
#jg-main-banner #btn-row {
  margin-top: 15px; }

#jg-404 {
  color: #787878; }

/* Media specific */
@media (min-width: 1200px) {
  .container {
    width: 970px; } }

/* TESTING */
nav .testbg {
  background: #c8f1c9; }

main .testbg {
  background: #f1c8c8; }

section .testbg {
  background: #f1eec8; }

