<section id="jg-me" class="row med-light">
	<div class="col-xs-12">
		<div id="jg-profile-image" class="col-xs-10 col-sm-4 col-md-3 col-xs-offset-1 text-center">
			<img src="{!{>me.jpg<}}" alt="Jonathan Gilmour" />
		</div>
		<div id="jg-profile" class="col-xs-10 col-sm-6 col-md-7 col-xs-offset-1 col-sm-offset-0">
			<h1>Jonathan David Gilmour (Jono)</h1>
			<h2>{{myAge}} years old</h2>
			<h2>Melbourne, VIC</h2>
		</div>
	</div>
	
	<div id="jg-info" class="col-xs-12">
		<div id="jg-interests" class="col-xs-10 col-sm-4 col-md-3 col-xs-offset-1">
			<h2>Interests and Hobbies</h2>
			<ul>
				<li>App and web development</li>
				<li>PC gaming</li>
				<li>Building computers and servers</li>
				<li>Photography</li>
				<li>Men's fashion and style</li>
				<li>Travel</li>
				<li>Cool tech</li>
			</ul>
		</div>
		<div id="jg-blurb" class="col-xs-10 col-sm-6 col-md-7 col-xs-offset-1 col-sm-offset-0">
			<p>I'm Jono. I've been a human being for over {{myAge}} years, and a software developer for more than five. I've loved technology since the age of four, since receiving my Nintendo 64 and Game Boy Color, and teaching myself to use the family computer (running Windows 98). Fast forward to today, I have a degree in Computing and Software Systems and spend almost every day learning new languages, features, and technologies to create cool stuff.</p>
			<p>My career goals are to make mobile apps and to also be a professional web developer. My love for these areas of software development has grown over the past year especially, and I am specifically interested in creating compelling experiences for mobile devices and desktop devices alike.</p>
			<p>My development philosophy is that it is simple to create a piece of software that is hard to use, slow, and overly complex, but it is far more dificult to make something that is simple and intutive, both in its function and form. I apply this philosophy to my code every day, starting with something clunky and rough and then stripping away layers of complexity until the user interface is clean and simple, without compromising on the powerful features underneath. I place great value on code neatness; well structured, object-oriented designs; and UIs that are beautiful in both their appearance and function, and I think that a great looking app starts with great looking code.</p>
			<p>My current areas of interest include NodeJS and AngularJS development, and incorporating responsive design into my web interfaces using technologies like Bootstrap. My love for photography has prospered an interest in design, giving me an eye for "what looks good", and this has carried over into my software development as well. I often obsess over the finer details as much as the big picture, applying a lot of care to everything from the structure of my code, to tiny details like placement of semicolons and variable names. Code should be modular and reusable, it should be well documented, and it should be well tested. I apply these three principles as often as I can to my programming.</p>
			<p>Outside of software development, I love photography and fashion, and these two interests often go together. I also love to travel, having been all over the world on more than one occasion. Most of my free time is spent reading about new technology, drinking (a lot of) coffee, impulsively purchasing new tech, and playing games (Battlefield and Counter-Strike in particular). I also love to go for walks with my camera, taking shots of anything that catches my eye, which is something I try to do at least a few times a month.</p>
		</div>
	</div>
</section> 