<section id="jg-home-panels" class="row">
		<div id="jg-work-panel" class="col-xs-12 col-sm-4 text-center jg-detail-panel">
			<a href="work">
				<div class="jg-detail-panel-inner">
					<i class="glyphicon glyphicon-duplicate"></i>
					<h1 class="text-center">My Work</h1>
					See my past projects
				</div>
			</a>
		</div>
		<div id="jg-history-panel" class="col-xs-12 col-sm-4 text-center jg-detail-panel">
			<a href="history">
				<div class="jg-detail-panel-inner">
					<i class="glyphicon glyphicon-book"></i>
					<h1 class="text-center">History</h1>
					See my work experience and education
				</div>
			</a>
		</div>
		<div id="jg-about-panel" class="col-xs-12 col-sm-4 text-center jg-detail-panel">
			<a href="about">
				<div class="jg-detail-panel-inner">
					<i class="glyphicon glyphicon-user"></i>
					<h1 class="text-center">About Me</h1>
					Learn more about me and what I do
				</div>
			</a>
		</div>
</section>