<!-- Scripts -->
	<!-- Vendor -->
		<!--[if lt IE 9]>
		    <script src="{!{>js/vendor/html5.js<}}" type="application/javascript"></script>
		<![endif]-->
		<script src="{!{>js/vendor/jquery.js<}}" type="application/javascript"></script>
		<script src="{!{>js/vendor/bootstrap.js<}}" type="application/javascript"></script>
		<script src="{!{>js/vendor/angular.js<}}" type="application/javascript"></script>
		<script src="{!{>js/vendor/sanitize.js<}}" type="application/javascript"></script>
		<script src="{!{>js/vendor/cookies.js<}}" type="application/javascript"></script>
	<!-- /Vendor -->
	<!-- Custom -->
		<!-- App -->
			<script src="{!{>js/app.js<}}" type="application/javascript"></script>
		<!-- Controllers -->
			<script src="{!{>js/controllers/navController.js<}}" type="application/javascript"></script>
			<script src="{!{>js/controllers/contactController.js<}}" type="application/javascript"></script>
			<script src="{!{>js/controllers/ThemeController.js<}}" type="application/javascript"></script>
		<!-- Directives -->
			<script src="{!{>js/directives/jgNav.js<}}" type="application/javascript"></script>
	<!-- /Custom -->
<!-- /Scripts -->

<link rel="stylesheet" href="{!{>css/vendor/bootstrap-theme.css<}}" />
<script type="text/javascript">
	$(document).ready(function(){
		$(".jg-project").each(function() {
			$(this).css("height", "100px");
			$(this).addClass("folded");
			$("#drop",this).removeClass("hidden");
			var self = this;
			$("#drop",this).click(function() {
				console.log("clicked");
				if($(self).hasClass("folded")) {
					$(self).css("height", "auto").removeClass("folded").addClass("unfolded");
					$(this).removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
				}
				else {
					$(self).css("height", "100px").removeClass("unfolded").addClass("folded");
					$(this).removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
				}
			});
		});
	});
</script>