<!-- Scripts -->
	<!-- Vendor -->
		<!--[if lt IE 9]>
		    <script src="{!{>js/vendor/html5.js<}}" type="application/javascript"></script>
		<![endif]-->
		<script src="{!{>js/vendor/jquery.js<}}" type="application/javascript"></script>
		<script src="{!{>js/vendor/bootstrap.js<}}" type="application/javascript"></script>
		<script src="{!{>js/vendor/angular.js<}}" type="application/javascript"></script>
		<script src="{!{>js/vendor/sanitize.js<}}" type="application/javascript"></script>
		<script src="{!{>js/vendor/cookies.js<}}" type="application/javascript"></script>
	<!-- /Vendor -->
	<!-- Custom -->
		<!-- App -->
			<script src="{!{>js/app.js<}}" type="application/javascript"></script>
		<!-- Controllers -->
			<script src="{!{>js/controllers/navController.js<}}" type="application/javascript"></script>
			<script src="{!{>js/controllers/contactController.js<}}" type="application/javascript"></script>
			<script src="{!{>js/controllers/ThemeController.js<}}" type="application/javascript"></script>
		<!-- Directives -->
			<script src="{!{>js/directives/jgNav.js<}}" type="application/javascript"></script>
	<!-- /Custom -->
<!-- /Scripts -->

<link rel="stylesheet" href="{!{>css/vendor/bootstrap-theme.css<}}" />